.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}
header{
    grid-area: header;
    background-color: yellow;
}
aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: blue;
}
main{
    grid-area: main;
    background-color: red;
}
footer{
    grid-area: footer;
    background-color: green;
}